.ms-webpartPage-root {
    border-spacing: 0px;
}

.nomeSite {
    display: none;
}

#contentBox {
    padding: 2px;
}


#spe-report-aporte {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

    #spe-report-aporte header {
        width: 100%;
        background-color: #62abcb;
        padding: 10px 35px;
        box-sizing: border-box;
    }

        #spe-report-aporte header img {
            float: right;
            cursor: pointer;
        }

        #spe-report-aporte header h1, #spe-report-aporte header h2 {
            margin: 0;
        }

        #spe-report-aporte header h1 {
            color: #b5def0;
            font-size: 5em;
            font-weight: 100;
        }

        #spe-report-aporte header h2 {
            color: #fcfcfa;
            font-size: 1em;
            font-weight: 900;
        }

table {
    width: 100%;
}

#spe-report-aporte .filter {
    width: 100%;
    background-color: #3e637d;
    padding: 10px 35px;
    box-sizing: border-box;
}

    #spe-report-aporte .filter select {
        background-color: #fcfcfa;
        color: #658296;
        padding: 10px;
        font-size: 1em;
        min-width: 480px;
    }

#spe-report-aporte .content {
    background-color: #fcfcfa;
    padding: 10px 0px;
    box-sizing: border-box;
}

    #spe-report-aporte .content table {
        /*border-collapse: collapse;
    border:0;*/
    }

        #spe-report-aporte .content table th, #spe-report-aporte .content table tbody tr td {
            /*font-size: 0.8em;*/
            font-weight: 400;
            border-left: 1px solid #658295;
        }

        /*#spe-report-aporte .content table th:first-child , #spe-report-aporte .content table tbody tr td:first-child {
    border: 0;
}*/

        #spe-report-aporte .content table th {
            color: #fcfcfa;
            background-color: #3e637d;
            padding: 10px 5px;
        }

        #spe-report-aporte .content table tbody tr td {
            text-align: center;
            padding: 2px 3px;
            vertical-align: top;
        }

        #spe-report-aporte .content table tbody tr:nth-child(even) {
            background-color: #c4cbce;
        }

#spe-report-aporte span {
    width: 480px;
}

.btn-primary, input[type=file], input[type=submit] {
    color: #fff!important;
    background-color: #428bca!important;
    border-color: #357ebd!important;
    margin: 10px!important;
    align-items: center!important;
    height: 30px!important;
    cursor: pointer!important;
}

input.search-query {
    padding-left: 26px;
    height: 38px;
    width: 488px;
}

form.form-search {
    position: relative;
}

    form.form-search:before {
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-image: url(http://getbootstrap.com/2.3.2/assets/img/glyphicons-halflings.png);
        background-position: -48px 0;
        position: absolute;
        top: 8px;
        left: 8px;
        opacity: .5;
        z-index: 1000;
    }


.tabelaDados {
    position: relative;
    width: 68%;
    float: left;
}

.modelos {
    position: relative;
    width: 30%;
    float: right;
    border: 2px solid #3e637d;
}

.itemModelo {
    float: left;
    display: block;
    width: 150px;
    font-size: 10px;
    text-align: center;
}

    .itemModelo img {
        width: 100px;
    }

.modelos h1 {
    width: 100%;
    background-color: #62abcb;
    padding: 10px 35px;
    box-sizing: border-box;
    color: #fff;
}

.modelos h2 {
    font-size: 1.46em;
    font-weight: bold;
    color: #3e637d;
}

.tabelaDados.content {
    overflow: scroll;
    max-width: 1280px;
}
